<form id="feUserRegisterForm" name="feUserRegistrationForm" novalidate>
	<div class="form-group">
		<input id="first_name" name="first_name" class="form-control" ng-model="CtrlAs_feUserRegister.first_name" type="text" placeholder="Enter first name" ng-minlength="2" ng-maxlength="25" ng-pattern="/^[a-zA-Z]*$/" required>
		<p class="error" ng-if="feUserRegistrationForm.first_name.$error.minlength && !feUserRegistrationForm.first_name.$error.pattern" >First name is too short.</p>
        <p class="error" ng-if="feUserRegistrationForm.first_name.$error.maxlength && !feUserRegistrationForm.first_name.$error.pattern" >First name is too long.</p>
        <p class="error" ng-if="feUserRegistrationForm.first_name.$error.pattern && !feUserRegistrationForm.first_name.$error.minlength && !feUserRegistrationForm.first_name.$error.minlength">Invalid first name.</p>
	</div>
	<div class="hidden">
		<input type="text" name="spamprotection" ng-model="CtrlAs_feUserRegister.spam_protection">
	</div>
	<div class="form-group">
		<input id="last_name" name="last_name" class="form-control" ng-model="CtrlAs_feUserRegister.last_name" type="text" placeholder="Enter last name" ng-minlength="2" ng-maxlength="25" ng-pattern="/^[a-zA-Z]*$/" required>
		<p class="error" ng-if="feUserRegistrationForm.last_name.$error.minlength && !feUserRegistrationForm.last_name.$error.pattern" >Last name is too short.</p>
        <p class="error" ng-if="feUserRegistrationForm.last_name.$error.maxlength && !feUserRegistrationForm.last_name.$error.pattern" >Last name is too long.</p>
        <p class="error" ng-if="feUserRegistrationForm.last_name.$error.pattern && !feUserRegistrationForm.last_name.$error.minlength && !feUserRegistrationForm.last_name.$error.minlength">Invalid last name.</p>
	</div>
	<div class="form-group">
		<input id="email" name="email" class="form-control" ng-model="CtrlAs_feUserRegister.email" type="email" placeholder="Enter email" required>
		<p ng-show="feUserRegistrationForm.email.$invalid && !feUserRegistrationForm.email.$pristine" class="help-block">Enter a valid email.</p>
	</div>
	<div class="form-group">
		<input id="password" name="password" class="form-control" ng-model="CtrlAs_feUserRegister.password" type="password" placeholder="Enter password" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/" required>
		<p class="error" ng-if="!feUserRegistrationForm.password.$valid">Password should be at least 8 and maximum 20 characters long and should contain one number, one character and one special character and no spaces.</p>
       
	</div>
	<div class="form-group">
		<input id="signUp_button" class="btn" type="submit" value="Sign In" ng-click="CtrlAs_feUserRegister.register()" ng-disabled="feUserRegistrationForm.$invalid">
	</div>
	<div class="email-exists-message success" ng-if="CtrlAs_feUserRegister.status == 1">Congratulations! You have successfully signed up.</div>
	<div class="email-exists-message error" ng-if="CtrlAs_feUserRegister.status == 2">Something went wrong. Please check your internet connction and try again.</div>
	<div class="email-exists-message error" ng-if="CtrlAs_feUserRegister.status == 3">Email already exists. Please signup with a different email.</div>

</form> 