<div ng-if="CtrlAs_forgotPassword.show" class="container">
	<h1>Forgot password?</h1>
	<div ng-if="!CtrlAs_forgotPassword.nextStep && CtrlAs_forgotPassword.currStep">
		<form id="CtrlAs_forgotPassword.forgotPasswordForm" ng-init="CtrlAs_forgotPassword.forgotPasswordForm = 'forgotPasswordForm'" name="CtrlAs_forgotPassword.forgotPasswordForm" novalidate>
			<div class="form-group">
				<input id="forgotPassword_email" class="form-control" ng-model="CtrlAs_forgotPassword.email" name="email" type="email" placeholder="Enter your email" ng-change="CtrlAs_forgotPassword.refreshStatus()" required>
				<p class="error" ng-if="!CtrlAs_forgotPassword.forgotPasswordForm.email.$pristine && CtrlAs_forgotPassword.forgotPasswordForm.email.$error.required">Email is required.</p>
				<p ng-show="CtrlAs_forgotPassword.forgotPasswordForm.email.$invalid && !CtrlAs_feUserLogIn.email.$pristine && !CtrlAs_forgotPassword.forgotPasswordForm.email.$error.required" class="error">Enter a valid email.</p>
			</div>
			<div class="form-group hidden">
				<input id="spam_protection" class="form-control" ng-model="CtrlAs_forgotPassword.spam_protection" type="text" placeholder="spam_protection">
			</div>
			<div class="form-group">
				<input id="signUp_button" class="btn lg" type="submit" value="Send link" ng-click="CtrlAs_forgotPassword.sendPasswordRecoveryMail()" ng-disabled="CtrlAs_forgotPassword.forgotPasswordForm.$invalid">
			</div>
			<div class="email-exists-message error" ng-if="CtrlAs_forgotPassword.status == '0'">Something went wrong. Please check your internet connction and try again.</div>
			<div class="email-exists-message error" ng-if="CtrlAs_forgotPassword.status == '2'">Account doesn't exist.</div>
			<div class="email-exists-message error" ng-if="CtrlAs_forgotPassword.status == '3'">Account is inactive. Please activate account.</div>
		</form>
	</div>

	<div ng-if="CtrlAs_forgotPassword.nextStep">
		<form id="CtrlAs_forgotPassword.changeForgotPasswordForm" ng-init="CtrlAs_forgotPassword.changeForgotPasswordForm = 'changeForgotPasswordForm'" name="CtrlAs_forgotPassword.changeForgotPasswordForm" novalidate>
			<div><b ng-bind="CtrlAs_forgotPassword.email"></b></div>
			<div class="form-group">
				<input id="recoveryCode" ng-change="CtrlAs_forgotPassword.refreshStatus()" name="recoveryCode" class="form-control" ng-model="CtrlAs_forgotPassword.recoveryCode" type="number" ng-minlength="6" ng-maxlength="6" placeholder="Enter recovery code" required>
				<div class="email-exists-message error" ng-if="CtrlAs_forgotPassword.status == '0'">Incorrect recovery code.</div>
				<p ng-if="CtrlAs_forgotPassword.changeForgotPasswordForm.recoveryCode.$dirty && CtrlAs_forgotPassword.changeForgotPasswordForm.recoveryCode.$error.required && CtrlAs_forgotPassword.status != '0'" class="help-block">Recovery code is required.</p>
			</div>
			<div class="form-group">
				<input id="newForgotPassword" ng-change="CtrlAs_forgotPassword.refreshStatus()" name="newForgotPassword" class="form-control" ng-model="CtrlAs_forgotPassword.newForgotPassword" type="password" placeholder="Enter your new password" ng-attr-type="{{ CtrlAs_forgotPassword.showPassword ? 'text':'password'}}" required>
				<p ng-if="CtrlAs_forgotPassword.changeForgotPasswordForm.newForgotPassword.$dirty && CtrlAs_forgotPassword.changeForgotPasswordForm.newForgotPassword.$error.required" class="help-block">New password is required.</p>
			</div>
			<div class="form-group">
				<input id="reNewForgotPassword" ng-change="CtrlAs_forgotPassword.refreshStatus()" name="reNewForgotPassword" class="form-control" ng-model="CtrlAs_forgotPassword.reNewForgotPassword" type="password" placeholder="Re-enter your password" ng-attr-type="{{ CtrlAs_forgotPassword.showPassword ? 'text':'password'}}" match-password="CtrlAs_forgotPassword.newForgotPassword" required>
				<p ng-if="CtrlAs_forgotPassword.changeForgotPasswordForm.reNewForgotPassword.$dirty && CtrlAs_forgotPassword.changeForgotPasswordForm.reNewForgotPassword.$error.required" class="help-block">Confirming your new password is required.</p>
	        	<p ng-if="CtrlAs_forgotPassword.changeForgotPasswordForm.reNewForgotPassword.$error.matchPassword && !CtrlAs_forgotPassword.changeForgotPasswordForm.reNewForgotPassword.$pristine && !CtrlAs_forgotPassword.changeForgotPasswordForm.reNewForgotPassword.$error.required" class="help-block">Confirm password didn't match</p>
			</div>
			<div class="form-group">
				<input class="btn sm" type="button" value="Show password" ng-attr-value="{{ CtrlAs_forgotPassword.showPassword ? 'Hide password':'Show password'}}" ng-click="CtrlAs_forgotPassword.toggleShowPassword()">
			</div>
			<div class="hidden">
				<input type="text" autocomplete="false" name="spamprotection" ng-model="CtrlAs_forgotPassword.spam_protection">
			</div>
			<div class="form-group">
				<input id="signUp_button" class="btn lg" type="submit" value="Change Password" ng-click="CtrlAs_forgotPassword.updatePasswordSettings()" ng-disabled="CtrlAs_forgotPassword.changeForgotPasswordForm.$invalid">
			</div>
		</form>
		<div class="email-exists-message success" ng-if="CtrlAs_forgotPassword.status == '1'">New password changed successfully.</div>
	</div>
	<a class="btn md" href="" ui-sref="login">Sign in</a> or
	<a class="btn md" href="" ui-sref="registration">Sign up</a> or 
	<a class="btn md" href="" ui-sref="activateAccount">Activate your account</a>
</div>



