<div id="activateAccount" ng-if="CtrlAs_activateAccount.show" class="container">
	<div class="activateAccount-wrapper">
		<h1>Activate Account</h1>
		<div class="basicAccountSettingsWrapper">
			<form id="activateAccountForm" ng-init="CtrlAs_activateAccount.activateAccountForm='activateAccountForm'" name="CtrlAs_activateAccount.activateAccountForm" autocomplete="off" novalidate>
		<div class="form-group">
			<input id="email" name="email" class="form-control" ng-model="CtrlAs_activateAccount.email" type="email" placeholder="Enter email" autocomplete="off" required>
			<p ng-show="CtrlAs_activateAccount.activateAccountForm.email.$invalid && !CtrlAs_activateAccount.activateAccountForm.email.$pristine && !CtrlAs_activateAccount.activateAccountForm.email.$error.required" class="error">Enter a valid email.</p>
			<p class="error" ng-if="!CtrlAs_activateAccount.activateAccountForm.email.$pristine && CtrlAs_activateAccount.activateAccountForm.email.$error.required">Email is required.</p>
		</div>
		<div class="form-group">
			<input id="activisionCode" name="activisionCode" class="form-control" ng-minlength="6" ng-maxlength="6" ng-model="CtrlAs_activateAccount.activisionCode" type="number" placeholder="Enter activision code" required>
			<p ng-if="CtrlAs_activateAccount.activateAccountForm.activisionCode.$dirty && CtrlAs_activateAccount.activateAccountForm.activisionCode.$error.required" class="help-block">Activision Code is required.</p>
			<p class="error" ng-if="CtrlAs_activateAccount.activateAccountForm.activisionCode.$error.minlength" >Invalid Activision Code.</p>
		</div>
		<div class="hidden">
			<input type="text" autocomplete="false" name="spamprotection" ng-model="CtrlAs_activateAccount.spam_protection">
		</div>
		<div class="form-group">
			<input class="btn lg" id="signUp_button" class="btn" type="submit" value="Activate Account" ng-click="CtrlAs_activateAccount.activateAccount()" ng-disabled="CtrlAs_activateAccount.activateAccountForm.$invalid"> <a class="btn sm" href="" ui-sref="forgotPassword">Forgot password?</a>
		</div>
		<div class="form-group">
			<input class="btn sm" id="resendCode_button" class="btn" type="button" value="Resend Activision Code" ng-click="CtrlAs_activateAccount.resendActivisionCode()" ng-disabled="CtrlAs_activateAccount.activateAccountForm.email.$invalid">
		</div>
		<div class="email-exists-message success" ng-if="CtrlAs_activateAccount.status == 1">Account settings updated successfully. Please wait while we take you to the login page.</div>
		<div class="email-exists-message error" ng-if="CtrlAs_activateAccount.status == 0">Invalid activision code.</div>
		<div class="email-exists-message error" ng-if="CtrlAs_activateAccount.status == 2">This account is already active.</div>
		<div class="email-exists-message error" ng-if="CtrlAs_activateAccount.status == 3">This account does not exist.</div>
		<div class="email-exists-message success" ng-if="CtrlAs_activateAccount.status == 5">Activision code send successfully to your email.</div>
	</form>
		</div>
	</div>
	<a class="btn md" href="" ui-sref="login">Login</a>
	<a class="btn md" href="" ui-sref="registration">Register</a>
</div>