/* ######## BLOCKS ######## */

/* ====================== SIGN IN PAGE START ====================== */

%signin_main {
	background: rgba(213,47,38,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(213,47,38,1)), color-stop(100%, rgba(189,7,7,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	background: radial-gradient(ellipse at center, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d52f26', endColorstr='#bd0707', GradientType=1 );
	width: 100vw;
	height: 100vh;
	.signin-wrapper{
		width: 400px;
		padding: 1px;
		position: absolute;
		top:50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		h1{
			color:#fff;
			font-weight: bold;
			text-align: center;
			margin-bottom: 30px;
			text-transform: uppercase;
		}
		#feUserLogIn{
			/*padding: 20px 20px 5px 20px;
			background-color: #bd0807;
			border:1px solid #d52f26;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;*/
			input[type="text"], input[type="password"], input[type="email"]{
				background: rgba(213,47,38,1);
				background: -moz-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(213,47,38,1)), color-stop(100%, rgba(189,7,7,1)));
				background: -webkit-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				background: -o-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				background: -ms-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				background: radial-gradient(ellipse at center, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d52f26', endColorstr='#bd0707', GradientType=1 );
				height:40px;
				color:#fff;
				border:1px solid #d52f26;
				-webkit-box-shadow: none !important;
				-moz-box-shadow: none !important;
				box-shadow: none !important;
				&::placeholder{
					color:#fff;
				}
			}
			#signIn_button{
				width: 100%;
				background-color:#d1d1d1;
				font-weight: bold;
			}
		}
	}
}

/* ====================== SIGN IN PAGE START ====================== */

/* ====================== SIGN UP PAGE START ====================== */

%signup_main {
	background: rgba(213,47,38,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(213,47,38,1)), color-stop(100%, rgba(189,7,7,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	background: radial-gradient(ellipse at center, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d52f26', endColorstr='#bd0707', GradientType=1 );
	width: 100vw;
	height: 100vh;
	.signup-wrapper{
		width: 400px;
		padding: 1px;
		position: absolute;
		top:50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		h1{
			color:#fff;
			font-weight: bold;
			text-align: center;
			margin-bottom: 30px;
			text-transform: uppercase;
		}
		#feUserRegister{
			/*padding: 20px 20px 5px 20px;
			background-color: #bd0807;
			border:1px solid #d52f26;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;*/
			input[type="text"], input[type="password"], input[type="email"]{
				background: rgba(213,47,38,1);
				background: -moz-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(213,47,38,1)), color-stop(100%, rgba(189,7,7,1)));
				background: -webkit-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				background: -o-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				background: -ms-radial-gradient(center, ellipse cover, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				background: radial-gradient(ellipse at center, rgba(213,47,38,1) 0%, rgba(189,7,7,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d52f26', endColorstr='#bd0707', GradientType=1 );
				height: 40px;
				color:#fff;
				border:1px solid #d52f26;
				-webkit-box-shadow: none !important;
				-moz-box-shadow: none !important;
				box-shadow: none !important;
				&::placeholder{
					color:#fff;
				}
			}
			#signUp_button{
				width: 100%;
				background-color:#d1d1d1;
				font-weight: bold;
			}
		}
	}
}

/* ====================== SIGN UP PAGE START ====================== */